@import url('/bower_components/normalize-css/normalize.css');
@import url(://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(://fonts.googleapis.com/css?family=Lato:400,700);

$black: #222;
$white: #fff;
$darkblue: #1A4266;
$grey: #E8ECED;
$lightgrey: #F5F7F7;
$darkgrey: #C2C9CC;
$green: #6FB243;
$fountainblue: RGBA(95, 190, 196, 1);
$rockblue: RGBA(151, 187, 205, 1);
$radius: 4px;

$tangaroa: #212E3B;
$picton-blue: #44D1EF;
$red: #DB665E;
$header-background: #1D2934;
$secondary-gray: #4A5D63;
$lighter-secondary-gray: #6A7C80;
$secondary-green: #00B15C;
$text-color: #B6B6B6;
$baseline: 6px;
$column-width: 90px;
$gutter: 30px;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// ROUND 2

body {
  background: $white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $baseline * 3;
  line-height: $baseline * 5;
  color: $black; 
  &#round-2 {
    background: $tangaroa;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;

    a.mention {
      color: $picton-blue;
    }

    header {
      background: $header-background;
      border-bottom: solid 1px #2D363F;
      position: fixed;
      top: 0;
      width: 100%;
      height: $baseline * 10;
      padding: 0 auto;
    }

    h1.logo {
      padding-left: 0;
      color: $white;
      float: left;
      font-size: $baseline * 4;
      strong {
        color: $picton-blue;
      }
    }

    .right {
      float: right;

      &.search, &.search input {

        i {
          position: relative;
          top: 4px;
          left: 7px;
          margin-right: 7px;
        }

        position: relative;
        background: #2A3641;
        border-radius: 2px;
        border: 0;
        color: $secondary-gray;

        &:focus {
          outline: 0;
        }
      }

      &.search {
        position: relative;
        top: 15px;
        height: 30px;
        width: $column-width*3 + $gutter*2;
        margin-right: $gutter;
      }

      &.search input {
        padding: 0;
        margin: 0;
        position: relative;
        top: -2px;
      }

      ::-webkit-input-placeholder {
        color: $secondary-gray;
      }

    &.user-account {
      position: relative;
      padding: 0 $baseline;
      top: 7.5px;
      &:hover {
        cursor: pointer;
      }
    i {
      color: $lighter-secondary-gray;
      position: relative;
      top: -16px;
    }

    .notification {
      font-size: $baseline * 1.8;
      font-weight: 700;
      text-align: center;
      position: relative;
      top: -4px;
      left: $baseline * 4;
      background: $red;
      color: $white;
      border-radius: 50%;
      width: $baseline * 3;
      height: $baseline * 3;
      z-index: 99;
      &:hover {
        background: darken($red, 10%);
      }

      span {
        display: inline-block;
        position: relative;
        top: -6px;
        }
      }

      img.profile-picture {
        position: relative;
        top: -14px;
        width: $baseline * 6;
        height: $baseline * 6;
        border-radius: 50%;
      }
    }      

    }

    .chart-header {
      margin-top: $column-width;
      label {
        display: block;
        color: $picton-blue;
        padding: 0;
        margin-bottom: $baseline;
        letter-spacing: 1px;
      }
      h3 {
        margin: 0;
        padding: 0;
        color: $white;
        font-size: $baseline * 3;
        line-height: $baseline * 3;
      }
      .indicator-selector {
        width: $column-width * 4 + $gutter * 3;
      }
      .year-selector {
        width: $column-width - 15px;
        margin-right: $gutter; 
      }
      .indicator-selector, .year-selector {
        display: block;
        float: left;

        i {
          display: inline-block;
          position: relative;
          right: 0;
          color: $secondary-gray;
          font-size: $baseline * 4;
        }
        &:hover > i {
          color: $lighter-secondary-gray;
        }
        &:hover { 
          cursor: pointer;
        }
      }
      span.indicator-value {
        color: $secondary-green;
        font-size: $baseline * 2;
      }
    }

    #myLineChart-2 {
      margin-top: $gutter;
    }

    .comments {
      margin-top: $column-width;
      width: 100%;

      img.profile-picture {
        display: block;
        width: $baseline * 8;
        height: $baseline * 8;
        border-radius: 50%;
        float: left;
        margin-right: $baseline * 2;
      }

      .comment-item {
        display: block;
        margin-top: $baseline * 2;

        &:hover {
          cursor: pointer;
          & > .time-ago {
            display: block;
          }
        }

        &:first-child {
          margin-top: 0;
        }

        .time-ago {
          float: right;
          color: $secondary-gray;
          display: none;
        }

        .comment-acitons {
          color: $secondary-gray;
          margin-top: $baseline;
          i {
            font-size: $baseline * 2;
            padding-left: $column-width - $gutter;
          }

          &:hover {
            color: $lighter-secondary-gray;
          }
        }

        .comment-content {
          padding-left: $column-width - $gutter;
        }

        .user-name {
          color: $white;
          font-weight: bold;
          display: block;
          margin: 0;
          padding: 0;
          margin-bottom: $baseline * 2;
        }

        .user-comment {
          max-width: $column-width * 7 + $gutter * 6;
          color: $text-color;
          line-height: $baseline * 4;
        }

        &.child {
          margin-left: $column-width - $gutter;
        }

      }

      .comments-input {

        margin-top: $gutter;
        margin-bottom: $column-width;

        .btn {
          float: right;
          margin-right: $gutter - $baseline;
        }

        textarea {
          background: #2A3642;
          border: 0;
          width: $column-width * 7 + $gutter * 7;
          height: $column-width - $gutter;
          border-radius: 2px;
          color: $white;
          padding-left: $baseline * 2;
          font-size: $baseline * 2.5;

          &::-webkit-input-placeholder {
              color: $lighter-secondary-gray;
              font-size: $baseline * 2.5;
          }

          &:focus {
            outline: 0;
          }
        }
      }
    }

    h2 {
      color: $picton-blue;
      font-size: $baseline * 3;
      font-weight: 400;
    }
  }
}

.btn__success {
  background: $secondary-green;
  color: $white;
  &:hover {
    background: darken($secondary-green, 10%);
  }
}

.wrapper {
  max-width: 940px;
  padding: 0 5px;
  margin: 0 auto;
}

// GENERAL

.top {
  position: absolute;
  bottom: 60px;
}

.clearfix {
  clear: both;
}

h1,h2,h3,h4,h5 {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: $darkblue;
  text-decoration: none;
}

button {
  border-radius: $radius;
  border: 0;
  padding: 3px 7px;

  &.toggle-comments {
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    right: 20px;
    background-color: $darkblue;
    color: $white;
    transition: all .2s ease-in-out;
    &:hover {
      background: darken($darkblue, 5%);
    }
  }

  &.submit {
    background: $green;
    color: $white;
    padding: 6.8px;
    width: 20%;
    transition: all .2s ease-in-out;
    &:hover {
      background: darken($green, 5%);
    }
  }
}

a.panel-close {
  color: $black;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  right: 10px;
}

// HEADER 

h1.logo {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: $darkblue;
  padding-left: 20px;
  strong {
    color: $green;
  }
}

header {
  background: $white;
  border-bottom: solid 1px $darkgrey;
}

.chart {
  max-width: 61%;
  padding: 1%;
}

aside {
  background: $white;
  max-width: 35%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 10px;
  border-left: solid 1px $darkgrey;
  h3 {
    margin: 0;
    color: $darkblue;
    font-size: 16px;
    font-weight: normal;
    border-bottom: solid 1px rgba(3,3,3,0.1);
    padding: 10px 0;
  }
}

// BOARDS
.board-header, .board-content, .board-footer {
  background: $white;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border: solid 1px $grey;
  padding: 8px;

  input {
    margin: 0;
    padding: 0;
  }
}

.board-content, .board-footer {
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.board-content {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

//DATA ABOUT

.data-about {
  text-align: center;
  max-width: 61%;
  padding: 10px 0;
  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: $darkblue;
  }
  span {
    font-size: 12px;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
  }
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-right: 3px;
  &.fountainblue {
    background: $fountainblue;
  }
  &.rockblue {
    background: $rockblue;
  }
}


// SELECTORS 
label {
  font-size: 10px;
  color: $darkblue;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 5px;
}
.indicator-select {
  min-width: 79%;
  display: inline-block;
}
.year-select {
  min-width: 10%;
  display: inline-block;
}

// COMMENTS


.panel {
  /*...*/
  visibility: hidden;
  transition: visibility 0s 0.6s;
}

.main-content {
  background: $lightgrey;
} 

// .panel.is-visible {
//   visibility: visible;
//   transition: visibility 0s 0s;
// }
 
.panel-container {
  /*...*/
  position: fixed;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  background: $white;
  border-left: solid 1px rgba(3,3,3,0.1);
  padding: 0 10px;
  overflow-y: auto;
  z-index: 99;

  box-shadow: -.1em 0 0.3em rgba(0,0,0,0.1);
 
  transition-property: transform; 
  transition-duration: 0.3s;
  transition-delay: 0.3s;
 
  transform: translate3d(100%, 0, 0);

}
 
// .is-visible .panel-container {
//   transform: translate3d(0, 0, 0);
// }

.comments {
  margin-top: 10px;
}

.comment-item {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  .comment-user {
    img {
      display: inline-block;
      width: 48px;
      height: 48px;
      border-radius: $radius;
    }
    .meta {
      display: inline-block;
      margin-left: 10px;
      position: relative;
      top: -5px;
    }
    .username, .time {
      display: block;
    }
    .username {
      font-weight: bold;
      color: $darkblue;
    }
    .time {
      color: $darkgrey;
    }
  }
  .comment-content {
    p {
      margin: 0;
    }
  }

  &.parent {
    border-left: dashed 1px #dedede;
    &.child {
      padding-left: 20px;
    }
  }

  a.reply {
    color: $darkblue;
    line-height: 36px;
  }
}

.comment-input {
  height: 70px;
  border-top: solid 1px rgba(3,3,3,0.1);
  input {
    margin: 14px 0;
    border-radius: $radius;
    border: solid 1px rgba(3,3,3,0.1);
    padding: 8px;
    width: 73%;
    transition: all .2s ease-in-out;
    &:focus {
      border: solid 1px $darkblue;
      background: lighten($darkblue, 65%);
      outline: 0;
    }
  }
}

// USER PROFILE 

.profile-heading {
  padding: 20px 80px;
  background: $lightgrey;
  border-bottom: solid 1px $darkgrey;

  .user-picture {
    float: left;
  }

  img {
    border-radius: $radius;
    background: $white;
    padding: $radius;
    border: solid 1px $grey;
    width: 100px;
    height: 100px;
  }
  .user-details {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
    h3 {
      margin: 0;
      font-size: 30px;
      line-height: 36px;
      color: $darkblue;
    }
    span.mention {
      color: $darkgrey;
      display: block;
      line-height: 30px;
    }
  }

  .user-stats {
    float: right;
    margin-top: 30px;
    margin-right: 300px;
    .stats-item {
      display: inline-block;
      border-radius: $radius;
      background: $grey;
      min-width: 80px;
      padding: 6px 10px;
      margin: 0 10px;
      transition: all .2s ease-in-out;
      &:hover {
        cursor: pointer;
      }
      &.active, &:hover {
        background: $darkblue;
        color: $white;
      }
      span {
        display: block;
        text-align: center;
        line-height: 18px;
        &.number {
          font-weight: bold;
        }
        &.label {
          font-size: 12px;
        }
      }
    }
  }
}

.profile-stats {
  max-width: 980px;
  margin: 0 auto;
  .stats-list {
    margin-top: 20px;
    max-width: 700px;
    float: left;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 16px;
      li {
        padding: 20px;
        display: block;
        transition: all .2s ease-in-out;
        span.context {
          display: block;
        }
        blockquote {
          font-size: 14px;
          border-left: dashed 1px $darkgrey;
          margin: 5px 0;
          padding: 0;
          padding-left: 10px;
          color: $darkgrey;
        }

        &:hover {
          cursor: pointer;
          background: $lightgrey;
          border-radius: $radius;
        }

        &.more {
          margin-top: 10px;
          background: $darkblue;
          color: $white;
          border-radius: $radius;
          padding: 10px;
          text-align: center;
          &:hover {
            background: darken($darkblue, 5%);
          }
        }
      }
    }
  }
  .list-type {
    width: 260px;
    position: absolute;
    right: 0;
    height: 100%;
    border-left: solid 1px $darkgrey;

    ul {
      list-style-type: none;
      li {
        padding: 10px 0;

        a {
          color: $darkgrey;
          transition: all .2s ease-in-out;
          &:hover {
            color: $darkblue;
          }
          &.active {
            color: $darkblue;
          }
        }
      }
    }
  }
}

// ICONS //

.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  top: 4px;
  right: 1px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  &.comment {
    background-image: url(img/comments.svg);
  }
  &.close {
    background-image: url(img/hide.svg);
  }
  &.reply {
    background-image: url(img/reply.svg);
    top: 1px;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
  }
}


// INTRO 
#intro {
  font-size: 18px;
  line-height: 30px;
  max-width: 600px;
  margin: 80px auto;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
